*{
    margin: 0;
    padding: 0;
}
.wrapper{
    height: 1000px;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.nav-logo{
    font-family:'poppins';
    margin-right: 500px;
}
ul{
    display: flex;
}
.nav-links{
    list-style: none;
    
}
ul li a{
    text-decoration: none;
    padding: 5px;
    font-size: 1.3rem;
    font-family: 'open sans';
    color: black;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
    margin: 0 auto;
}
.header p, h2{
    text-align: center;
}
p{
    font-family: 'open sans';
    font-weight: 400;
}
h2{
    font-size: 3.8rem;
    font-family: 'poppins';
}

.quotes_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.quotes_container img{
    height: 50px;
}
.social-icons{
    width: 100px;
    position: fixed;
    top: 450px;
    bottom: 0px;
    left: 10px;
    right: auto;
    z-index: 10;
    font-size: 1.75em;
}
.social-icons ul{
    display: flex;
    flex-direction: column;
}

.fa-brands{
    color: black;
}

section{
    background-color: gray;
    display: flex;
    flex-direction: column;
}
.about-header{
    color: #f1cf63;
    /* background-color: #343434; */
    text-align: center;
    font-family: 'Poppins';
    line-height: 2.5rem;
    padding-top: 5px;
    padding-bottom: 11px    
}

.the{
    margin-left: 40px;
    font-size: 1.4em ;
    font-family: Playfair Display;
}

.dod-rl{
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.1em;
}

.dod-of{
    font-family: Playfair Display;
    font-weight: 400;
    font-style: italic;
    font-size: 0.5em;
    vertical-align: middle;
    margin-top: -0.4em;
    display: inline-block;
}
.skills{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.skill-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 15px 10px 15px;
    padding: 5px;
    /* border: 2px solid black; */
}
.text{
    text-align: left;
}
/* current-project */
.current-project{
    display: flex;
}
